*, *::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    font-family: Montserrat, serif;
}

html {
    -webkit-text-size-adjust: 100%;
}

.body {
    min-height: 100vh;
    line-height: 1;
    text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    line-height: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, [role="button"] {
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 0;
    }
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol, ul {
    list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    &:focus {
        outline: 0;
    }
}

::-moz-placeholder {
    opacity: 1;
}

textarea {vertical-align: top;overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
        outline: 0
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.header {
    display: flex;
    height: 100px;
    width: max-content;
    margin: 0 auto;
    background-color: #ffffff;
}

.header-logo{
    height: 85px;
    width: 160px;
}

.header-list{
    margin: 0 45px;
    font-size: 17px;
}

.header-item{
    padding: 40px 20px;
    display: inline-block;
}

.header-item:hover{
    background-color: #DE3246;
}

.header-item-active{
    background-color: #9C1928;
}

.header-subdirectory-list{
    position: absolute;
    margin: 40px 0;
    padding: 5px 0;
    background-color: #ffffff;
    display: none;
    z-index: 2;
}

.header-subdirectory-list li{
    width: 100%;
    padding: 15px 20px;
}

.header-subdirectory-list li:hover{
    background-color: #DE3246;
}

.header-button{
    border-radius: 5px;
    border: 2px solid #DE3246;
    padding: 15px 35px;
    margin: 25px;
}
